h1{
    color: blue;
    position: absolute;
    left: 450px;
}
.im{
    position: absolute;
    left: 600px;
    bottom: 18px;
    

}
.ima{
    position: absolute;
    left: 600px;
    top: 190px;
  
}
button{
    width: 60px;
    height: 30px;
    border-radius: 30px;
}