h1 {
	color: red;
	font-family: roboto;
	text-align: center;
}
#blue-bordered {
    border: 5px dashed blue;
}
h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}   
img{
    position: absolute;
    left: 650px;
}
button{
    width: 60px;
    height: 30px;
    border-radius: 30px;
}